api:
  dashboard: true
  insecure: true

log:
  level: INFO

entryPoints:
  web:
    address: ":80"

providers:
  docker:
    exposedByDefault: false  
  file:
    directory: "/etc/traefik/dynamic"
    watch: true
